name: deploy
on:
  push:
    branches: [ 'develop','features/#1','features/#5' ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0

      - name: execute remote ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_SSH_HOST }}
          username: ${{ secrets.REMOTE_SSH_USERNAME }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          passphrase: ${{ secrets.REMOTE_SSH_PASSPHRASE }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            whoami
            echo '17539' | sudo -s chmod 777 /var/run/docker.sock
            cd focusing/
            docker-compose down
            sudo fuser -k 32000/tcp
            sudo fuser -k 443/tcp
            git stash
            git remote update
            git fetch
            git pull origin ${{github.ref_name}}
            docker-compose up -d
            echo '17539' | sudo -s ./gradlew clean build -x test
            nohup java -jar build/libs/focusing-0.0.1-SNAPSHOT.jar > /tmp/nohup.log 2>&1 &
